header {
  height: 40px;
  background-color: ghostwhite;
  padding-left: 20px;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(127, 255, 0);
}

header li {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
